<div>
  <div>
    <button type="button" class="btn btn-primary" routerLink="/articles">Retour</button>
  </div>

  <div id="commentary" *ngIf="article">
    <h1>{{ article.titre }}</h1>

    <div>
      <p>{{ article.contenu }}</p>
    </div>

    <div *ngIf="comments">
      <div *ngFor="let comment of comments">
        <p>{{ comment.contenu }}</p>
      </div>
    </div>
  </div>

  <app-comment-form (emitComment)="pushComment($event)" [id_article]="article.id_article"></app-comment-form>

</div>
