<nav class="navbar navbar-dark bg-dark">
  <div class="container-md">
    <a class="navbar-brand">Angular Social</a>
  </div>

  <!--
     *                          *
     * If user is connected     *
     *                          *
   -->

  <div *ngIf="userService.isConnected">
    <button type="button" class="btn btn-dark" routerLink="utilisateurs">Liste des utilisateurs</button>
    <button type="button" class="btn btn-dark" routerLink="articles">Liste des articles</button>
    <button type="button" class="btn btn-dark" (click)="logOut()">Déconnexion</button>
  </div>

  <!--
      *                          *
      * If user is not connected *
      *                          *
    -->

  <div *ngIf="!userService.isConnected">
    <button type="button" class="btn btn-dark" routerLink="/">Connexion</button>
    <button type="button" class="btn btn-dark" routerLink="inscription">Inscription</button>
  </div>
</nav>

