<div>
  <div>
    <div *ngIf="!editing">
      <h2>{{ article.titre }}</h2>
      <p>{{ article.contenu }}</p>
    </div>

    <div *ngIf="tokenData.id === article.id">
      <button (click)="editing = !editing" class="btn btn-success">
        {{ editing ? "Annuler" : "Editer" }}
      </button>
      <button class="btn btn-danger">
        Supprimer
      </button>
    </div>

    <button type="button" class="btn btn-primary" routerLink="{{ article.id_article }}">Voir l'article</button>

  </div>
  <app-article-form [article]="article" *ngIf="editing" (emitArticle)="pushArticle($event)"></app-article-form>
</div>
