<form [formGroup]="registerForm" (ngSubmit)="ngRegister()">
  <div class="mb-3">
    <label for="InputEmail" class="form-label">Email </label>
    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="InputPseudo" class="form-label">Pseudo </label>
    <input type="text" class="form-control" id="InputPseudo" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Mot de passe</label>
    <input type="password" class="form-control" id="InputPassword">
  </div>
  <div class="mb-3">
    <label for="InputConfirmPassword" class="form-label">Confirmer le mot de passe</label>
    <input type="password" class="form-control" id="InputConfirmPassword">
  </div>
  <button type="submit" class="btn btn-primary">Connexion</button>
</form>
